html{
    scroll-behavior: smooth;
}
body {
    margin: 6%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: 'Times New Roman', Times, serif;
}
.textbox {
    padding-left: 5%;
}
.textboxsmaller{
    padding-right: 50%;
}
h1 {
    font-size: 3rem;
}
span {
    color:#8f0000;;
}
hr {
    color: #8f0000;
}
.tags{
    background-color: #eeeeee;
    color: black ;
}
table {
    table-layout: fixed;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #8f0000;
    margin-left: 8%;
    margin-right: 12%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
    border-radius: 10px;
    overflow: hidden;
}
table:hover{
    transform: scale(1.03);
}
th {
    background-color: #8f0000;
    color: white;
    border: 1px;

}
td {
    border: 1px solid black;
    color: #8f0000;
    background-color: white;
}
.bggray {
    background-color: white;
    border-radius: 30px;
    padding: 4%;
    padding-bottom: 6%;
    border: 1px solid #8f0000;
    transition: all 0.5s ease;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.bggray:hover{
	background-color: #e3e3e3;
    transform: scale(1.01) translateY(-20px);
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.4);
}
a:active, a:hover, a:visited, a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: larger;
}
